/*LOGIN UI*/
.root {
    -fx-background-image: url("/assets/bg.jpg");
    -fx-background-size: 100% 100%; 
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}

.login-form {
    -fx-background-color: transparent; 
    -fx-alignment: center;
    -fx-padding: 5;
    -fx-max-width: 500px;
}

.login-title {
    -fx-font-family: "Times New Roman", Serif;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #1B4D3E;
}

.login-subtitle{
    -fx-font-family: "Times New Roman", Serif;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #1B4D3E;
    -fx-bottom-padding: 10;
}

.login-label{
    -fx-font-family: "Times New Roman", Serif;
    -fx-font-size: 14px;
    -fx-text-fill: #1B4D3E;
}
.login-input {
   -fx-font-size: 14px;
   -fx-pref-width: 300px;
   -fx-pref-height: 25px;
   -fx-padding: 10;
   -fx-background-color: white;
   -fx-background-border-radius: 15;
   -fx-font-family: "Sergoe UI", Serif;
   -fx-text-fill: #1B4D3E;
}

.login-button, .exit-button {
    -fx-font-family: "Times New Roman", Serif;
    -fx-font-size: 14px;
    -fx-min-height: 25px; 
    -fx-pref-height: 30px; 
    -fx-pref-width: 100px;
    -fx-cursor: hand;
}

.login-button:hover {
    -fx-background-color: #cccccc; 
    -fx-text-fill: #1B4D3E;
    -fx-border-color: #6C757D;
}

.login-button {
    -fx-background-color: #1B4D3E; 
    -fx-text-fill: #cccccc;
    -fx-background-radius: 3;
}

.exit-button {
    -fx-background-color: #f0f0f0;
    -fx-text-fill: #333333;
    -fx-border-color: #cccccc;
    -fx-background-radius: 3;
}

/*DASHBOARD UI*/
.dashboard-main{
   -fx-background-image: url("/assets/3Dlogobg.png");
   -fx-background-size: 100% 100%; 
   -fx-background-position: center center;
   -fx-background-repeat: no-repeat;
}

.top-nav {
    -fx-padding: 10;
    -fx-pref-height: 50px; 
    -fx-alignment: center;
    -fx-background-color: #184D3B;
    -fx-border-color: #F2F3F4;
    -fx-border-width: 2 1 2 1; 
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 10, 0, 0, 5);
}

.dashboard-title {
    -fx-font-family: "Times New Roman", Serif;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-border-width: 2;
    -fx-text-fill: white;
    -fx-alignment: CENTER;
}

.drawer {
    -fx-background-color: #A3A5A8; 
    -fx-pref-width: 300px;
    -fx-max-width: 300px;
    -fx-padding: 65 15 20 15;
    -fx-alignment: TOP_CENTER; 
}

.nav-btn{
    -fx-background-color: #1B4D3E; 
    -fx-font-family: "Times New Roman", Serif;
    -fx-text-fill: #cccccc;
    -fx-font-size: 22px;
    -fx-background-radius: 15;
    -fx-min-height: 100px; 
    -fx-pref-height: 100px;
    -fx-margin: 0 0 50 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 10, 0, 0, 5);
    -fx-max-width: infinity; 
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 0 0 0 30;
    -fx-cursor: hand;
}
.nav-btn:hover{
    -fx-background-color: #636569;
    -fx-text-fill: #1B4D3E;
    -fx-font-weight: bold;
}

/*FORM
    - 
DASHBOARD*/

.right-form-container .label {
    -fx-font-family: "Times New Roman", Serif;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-padding: 0 0 2 0;
}

.right-form-container .form-input {
    -fx-font-family: "Times New Roman", Serif;
    -fx-font-size: 15px;
    -fx-text-fill: #1a4331;
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-pref-height: 38px; /* Standard spacious uniform height */
}


.right-form-container .combo-box .list-cell {
    -fx-font-family: "Times New Roman", Serif;
    -fx-font-size: 15px;
    -fx-text-fill: #1a4331;
}

.right-form-container .date-picker > .text-field {
    -fx-font-family: "Times New Roman", Serif;
    -fx-font-size: 15px;
    -fx-text-fill: #1a4331;
}

.right-form-container .form-button {
    -fx-font-family: "Times New Roman", Serif;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-color: #1B4D3E;
    -fx-background-radius: 5;
    -fx-pref-height: 60px; 
    -fx-cursor: hand;
    -fx-border-color: #8F9092; 
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-text-alignment: center;
    
     -fx-alignment: CENTER;        
    -fx-content-display: LEFT;     
    -fx-graphic-text-gap: 8; 
}

.right-form-container .form-button:hover {
    -fx-background-color: #636569;
    -fx-border-width: 2;
    -fx-border-radius: 10;
}

/*MONITORING
    - 
DASHBOARD*/

.dashboard-main {
    -fx-background-color: #1a4331; 
}

.top-nav {
    -fx-background-color: #1a4331;
    -fx-border-color: rgba(255, 255, 255, 0.2);
    -fx-border-width: 0 0 2 0;
}

.dashboard-title {
    -fx-font-family: "Times New Roman", Serif;
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}


.drawer {
    -fx-background-color: #9FA0A2;
}

.nav-btn {
    -fx-background-color: #1B4D3E;
    -fx-text-fill: white;
    -fx-font-family: "Times New Roman", Serif;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-pref-height: 80px;
    -fx-cursor: hand;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 0 0 0 20;
}

.nav-btn:hover {
    -fx-background-color: #636569;
}

.table-container {
    -fx-background-color: rgba(0, 0, 0, 0.25);
    -fx-background-radius: 12;
    -fx-border-color: #ffffff;
    -fx-border-width: 1;
    -fx-padding: 20;
}

.form-header {
    -fx-font-family: "Times New Roman", Serif;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-padding: 0 0 15 0;
}

/* Input labels */
.form-label {
    -fx-font-family: "Times New Roman", Serif;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

/* MASTER STYLING FOR INPUTS (Uniform with Dashboard's .form-input) */
.monitoring-input, .monitoring-display {
    -fx-font-family: "Times New Roman", Serif;
    -fx-font-size: 15px;
    -fx-text-fill: #1a4331;
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-pref-height: 38px;
    -fx-pref-width: 250px;
}
.monitoring-label {
    -fx-font-family: "Times New Roman", Serif;
    -fx-font-size: 16px; 
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF; 
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 2, 0, 0, 1);
}

.monitoring-display {
    -fx-font-family: "Times New Roman", Serif;
    -fx-font-size: 15px;
    -fx-text-fill: #1a4331;
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 0 0 0 10;
}

.form-button {
    -fx-font-family: "Times New Roman", Serif;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-color: #1B4D3E;
    -fx-background-radius: 10;
    -fx-pref-height: 45px; 
    -fx-pref-width: 180px;
    -fx-cursor: hand;
    -fx-border-color: #8F9092; 
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
    -fx-graphic-text-gap: 12;
}

.form-button:hover {
    -fx-background-color: #636569;
}

.table-view {
    -fx-background-color: transparent;
    -fx-background-radius: 8;
    -fx-border-color: rgba(255, 255, 255, 0.5);
    -fx-border-width: 1;
}

.table-view .column-header-background {
    -fx-background-color: rgba(255, 255, 255, 0.1);
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-border-color: rgba(255, 255, 255, 0.3);
    -fx-border-width: 0 1 1 0;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-family: "Times New Roman", Serif;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.table-view .cell {
    -fx-font-family: "Times New Roman", Serif;
    -fx-font-size: 13px;
}


/*REPORTS
    -
 DASHBOARD*/

.reports-main {
   -fx-background-image: url("/assets/3Dlogobg.png");
   -fx-background-size: 100% 100%; 
   -fx-background-position: center center;
   -fx-background-repeat: no-repeat;
}

.side-menu {
    -fx-background-color: rgba(27, 77, 62, 0.9); 
    -fx-padding: 30 20 30 20;
    -fx-alignment: top-center;
}

.sidebar-title {
    -fx-font-family: "Times New Roman";
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-text-alignment: center;
}

.report-btn {
    -fx-background-color: #8F9092;
    -fx-text-fill: white;
    -fx-font-family: "Times New Roman";
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-background-radius: 5;
    -fx-cursor: hand;
    -fx-pref-height: 50;
    -fx-max-width: 5000; 
}

.report-btn:hover {
    -fx-background-color: white;
    -fx-text-fill: #1B4D3E;
}

.content-area {
    -fx-background-color: rgba(45, 62, 51, 0.85); 
    -fx-padding: 30;
    -fx-alignment: top-center;
}

.table-title {
    -fx-font-family: "Times New Roman";
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.table-container {
    -fx-background-color: #1B4D3E; 
    -fx-padding: 15;
    -fx-background-radius: 10;
    -fx-border-color: #8F9092; 
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 10, 0, 0, 5);
}

.table-view {
    -fx-background-color: transparent;
    -fx-border-color: #8F9092;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.table-view .column-header-background {
    -fx-background-color: #1B4D3E;
}

.table-view .column-header, .table-view .filler {
    -fx-background-color: transparent;
    -fx-border-color: #8F9092;
    -fx-border-width: 0 1 1 0;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

/*STOCKIN -STOCKOUT
        - 
    HISTORY*/

.report-section-label {
    -fx-font-family: "Times New Roman";
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-text-fill: white;
    -fx-padding: 10 0 5 0;
}

.table-box-container {
    -fx-background-color: #1B4D3E; 
    -fx-padding: 15;
    -fx-background-radius: 10;
    -fx-border-color: #8F9092; 
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 8, 0, 0, 4);
}

.history-table {
    -fx-font-family: "Times New Roman";
    -fx-background-color: transparent;
}

/*NOTIFICATION

    STYLING
*/

.bell-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 22px;
    -fx-cursor: hand;
}

.notification-badge {
    -fx-background-color: #e74c3c; 
    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-font-size: 11px;           
    -fx-alignment: center;
    -fx-padding: 2 5 2 5;          
    -fx-background-radius: 10;    
    -fx-min-width: 18;
    -fx-min-height: 18;
}

.badge-layer {
    -fx-translate-x: -2;   
    -fx-translate-y: 2;    
    -fx-max-width: 16;
    -fx-max-height: 16;
}

.notif-popup-container {
    -fx-background-color: white;
    -fx-min-width: 18;
    -fx-padding: 10;
    -fx-border-color: #1B4D3E;
    -fx-border-width: 1;
}

.notif-scroll-pane {
    -fx-background-color: white;
    -fx-border-color: #1B4D3E;
    -fx-border-width: 1;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.15), 15, 0, 0, 5);
}

/*STOCK IN 
    - 
STOCK OUT*/

.form-wrapper {
    -fx-background-color: #1B4D3E; 
    -fx-background-radius: 20;
    -fx-opacity: 90%;
    -fx-border-color: #E1E2E4;
    -fx-border-width: 4;
    -fx-border-radius: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 20, 0, 0, 0);
    -fx-alignment: center;
}

.stock-in-container {
    -fx-background-image: url("/assets/3dlogobg.png");
    -fx-background-size: 100% 100%; 
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}

.stock-in-title {
    -fx-font-family: "Times New Roman";
    -fx-font-size: 30px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.stock-in-label {
    -fx-font-family: "Times New Roman";
    -fx-font-size: 20px;
    -fx-text-fill: white;
}

.stock-in-input {
    -fx-font-family: "Sergoe UI", Serif;
    -fx-background-color: white;
    -fx-font-size: 16px;
    -fx-text-fill: #1B4D3E;
    -fx-pref-width: 220px;
    -fx-pref-height: 45px;
    -fx-prompt-text-fill: #bdc3c7;
}

.stock-in-input .label {
    -fx-text-fill: #1B4D3E;
}

.inoutbtn-save, .inoutbtn-back {
    -fx-background-color: white;
    -fx-text-fill: #1B4D3E;
    -fx-font-family: "Times New Roman";
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-background-radius: 5;
    -fx-cursor: hand;
    -fx-pref-height: 50;
    -fx-max-width: 5000; 
}

.inoutbtn-save:hover, .inoutbtn-back:hover {
    -fx-background-color: #8F9092;
    -fx-transition: 0.3s; 
}